doctype html
html
  head
  body
    include navheader.pug

h1 Nossa História

p A Loja Cerradinho foi fundado pelos amigos Yuri, Gabriel e Fernando, em julho de 2019, em Brasília, capital do Brasil, com operação 100% on-line desde a sua criação. Os próprios fundadores foram responsáveis por desenvolver a plataforma do comércio eletrônico, especializada na venda de produtos de diversos tipode de produtos. As entregas aos clientes esão realizadas via Agência dos Correios, sendo ampliadas para demais serviços, de acordo com a região de destino dos pedidos, a exemplo da UPS e TNT.

p Com os pedidos dos consumidores distribuídos em todo o país, os Centros de Distribuição do Grupo Loja Cerradinho estão localizados no interior do Distrito Federal,  com cerca de 12 mil m². O número total de colaboradores em atividade na empresa é de aproximadamente 400 pessoas, sendo cerca de 3 funcionários diretos.

p Em 2019, o e-commerce inaugurou seu escritório nos Estados Unidos, no estado da Florida, com o objetivo de acompanhar os lançamentos das fabricantes e negociar a disponibilidade dos produtos em solo brasileiro, em um prazo mais ágil.

p Quanto às modalidades de pagamento, o e-commerce de tecnologia possibilita aos clientes, compras via cartão de crédito, por meio das bandeiras MasterCard, Visa, American Express, Hipercard, Elo e Diner Club International; via débito, pelo Banco Itaú e Banco do Brasil; além da Carteira Eletrônica PayPal17. Entre as campanhas mais tradicionais, promovidas pelo Loja Cerradinho, destacam-se o Mega Maio e o Black Friday.

p A Loja Cerradinho também apoia projetos que envolvem inovação e o terceiro setor. Entre as instituições está a Associação Limeirense de Proteção aos Animais (ALPA), que desde 1996 tem sob sua tutela mais de 100 animais idosos, entre cães e gatos, realizando ainda eventos para angariar fundos e campanhas de doação e castração. Além de destinar a doação da Nota Fiscal Eletrônica à entidade, a Loja Cerradinho criou um website para a ONG e disponibilizou aos clientes a opção de doar valores (R$1, R$2, R$5 e R$10), adicionados à compra no site do e-commerce. As iniciativas da Loja Cerradinho envolvem, ainda: doação de um computador e periféricos à Lorena, do canal de YouTube Careca TV; doação de uma placa de vídeo e produção do uniforme da equipe de Robótica NoBox Robotics, da Universidade Federal do ABC, e a doação de um computador e periféricos a uma ação promovida pela Fundação Make-a-Wish, instituição de apoio às crianças portadoras de doenças graves, com atuação em quase 50 países.

p Em janeiro de 2020, o e-commerce irá lançar o TecMasters Loja Cerradinho, um reality show direcionado à tecnologia, com provas de habilidade e conhecimento dos participantes, sobre equipamentos hardware e fabricantes do segmento. O programa, que conta com um total de oito episódios, estará disponível no canal da Globo.

