doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    ul
      each prod in produtos
        li
          h1= prod.nome
          p = prod.nome_categoria