doctype html
html
  head
  body
    include navheader.pug

    h1= "Bem vindo a Loja Cerradinho"
    h3= " Aproveite os produtos em promoção, com 30% de desconto e gaste todas as suas economias com a lógica consumista capitalista"
  
    table(style='width:30%', border='1')
    
      each prod in produtos
        tr(align='center')   
          td
            a(href=`/produtos/${prod.codigo}`)= prod.produto