style
    include navbar.css

nav.navbar.navbar-expand-lg.navbar-light.bg-light 
  .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/home') Home
      li.nav-item
        a.nav-link(href='/usuarios/perfil') Perfil
      li.nav-item
        a.nav-link(href='/produtos') Produtos
      li.nav-item
        a.nav-link(href='/home/historia') Sobre nós
      li(style='float:right').nav-item
        a.nav-link(href='/') Logout       