<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Lojas Cerradinho</title>
	<link href="../css/cadastro.css" rel="stylesheet">
</head>

<body>
	<div class="login-form">
		<h1>Preencha os campos abaixo</h1>
		<form action="/autentificacao/cadastro" method="POST">
			<input type="text" name="nome" placeholder="Nome" required autocomplete="off">
			<input type="text" name="cpf" placeholder="CPF" required autocomplete="off">
			<input type="text" name="email" placeholder="E-mail" required autocomplete="off">
			<input type="password" name="password" placeholder="Senha" required autocomplete="off">
			<input type='submit' value="Registrar-se">
		</form>
		<form class="voltar" action="../">
			<input type="submit" value="Voltar">
		</form>
	</div>
</body>

</html>